
@{
    ViewBag.Title = "Index";
}

<h2>Стать заказчиков</h2>


<script id="detail-tmpl" type="text/x-kendo-template">
    <div style="color:white;">Person first name: #: Person.Name#</div>
    <div style="color:white;">Person last name: #: Person.LastName#</div>
    <div style="color:white;">Person patron: #: Person.Patron#</div>
    <div style="color:white;">Company: #: Company.Name#</div>
    <div><b>Lot:</b></div>
    <div style="color:white;">Name: #: Lot.Name#</div>
    <div style="color:white;">Статус: #: Lot.StatusText#</div>
    <div style="color:white;">Место: #: Lot.DeliveryAddress#</div>
    <div style="color:white;">Дата окончания регистрации:: #: Lot.DateOfEndRegistration#</div>
    <div style="color:white;">Дата и время рассмотрения заявок:: #: Lot.DateOfBidding#</div>
    <div style="color:white;">Дата и время подведения итогов:: #: Lot.DateOfPub#</div>
    <div style="color:white;">Дата публикации:: #: Lot.DateOfStartRegistration#</div>
    <div style="color:white;">Дата проведения торгов:: #: Lot.DateOfSummarizing#</div>
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div>
                @(Html.Kendo().Grid<TPM.DataAccessFramework.Models.BiddingViewModel>()
                                           .Name("biddingsGrid")
                                           .ToolBar(toolBar => { toolBar.Create(); })
                                           .Columns(columns =>
                                           {
                                               columns.Bound(c => c.BiddingId).Visible(false);
                                               columns.Bound(c => c.Name);
                                               columns.Bound(c => c.BiddingType.BiddingTypeId).Visible(false);
                                               //columns.Bound(c => c.BiddingType.Name);
                                               //columns.Bound(c => c.Person.PersonId).Visible(false);
                                               //columns.Bound(c => c.Country.CountryId).Visible(false);
                                               //columns.Bound(c => c.Country.Name).Title("Country");
                                               //columns.Bound(c => c.Country.ISO).ClientTemplate("<span style='text-align:center;' class='flag flag-#=Country.ISO# flag-2x'> </span>");
                                               //columns.Bound(c => c.TenderType.TenderTypeId).Visible(false);
                                               //columns.Bound(c => c.TenderType.Name);
                                               columns.Bound(c => c.Company.CompanyId).Visible(false);
                                           })
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model => model.Id(p => p.BiddingId))
                                            .Read(read => read.Action("GetBiddings", "Bidding", new { typeId = -1 }))
                                            .Create(create => create.Action("CreateBidding", "Bidding"))
                                            )
                                            .Selectable(selectTable => selectTable
                                            .Mode(GridSelectionMode.Single)
                                            .Type(GridSelectionType.Row))
                                            .Editable(editable => editable.Mode(GridEditMode.PopUp)
                                            .TemplateName("CustomEventTemplateEditor")
                                            .Window(w =>
                                            {
                                                w.Width(600);
                                                w.HtmlAttributes(new { @class = "kendo-popup-editor" });
                                            })
                                            )
                                            .Pageable()
                                            .Sortable()
                                            .Filterable(ftb => ftb.Enabled(true))
                                            .ColumnMenu()
                                            .Resizable(r => r.Columns(true))
                .ClientDetailTemplateId("detail-tmpl")
                )
            </div>
        </div>
    </div>
</div>

